<ul class="nav nav-list">
    {{#modules}}
        <li class="toc-mod-title">
            <a href="{{file}}" data-toggle="collapse" data-target="#subnav-item-{{@index}}">{{{module}}}</a>
                <ul id="subnav-item-{{@index}}" class="collapse">
                {{#toc}}
                    <li>
                        <a class="toc-item" href="{{../file}}#{{href}}">
                            {{name}}
                        </a>
                    </li>
                {{/toc}}
                </ul>
            </a>
        </li>
    {{/modules}}
</ul>
